# TODO: Uncomment the benchmark workflow after the repo is public again
name: Benchmark-invalid
on: [push]
jobs:
  noop:
    runs-on: ubuntu-latest
    steps: []

# on:
#   pull_request:
#     branches:
#       - '**'  # Matches all branch names, for PRs
#   push:
#     branches:
#       - 'main'  # Run tests on main branch

# permissions:
#   # deployments permission to deploy GitHub pages website
#   deployments: write
#   # contents permission to update benchmark contents in gh-pages branch
#   contents: write
#   # allow posting comments on PRs
#   pull-requests: write

# jobs:
#   pytest-benchmark:
#     name: pytest-benchmark
#     runs-on: ubuntu-24.04-arm
#     timeout-minutes: 5
#     strategy:
#       fail-fast: False
#     steps:
#       - uses: actions/checkout@v4

#       - name: Install uv
#         uses: astral-sh/setup-uv@v5
#         with:
#           enable-cache: true
#           version: "0.7.13"
#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version-file: "pyproject.toml"

#       - name: Install the project
#         run: uv sync --verbose --group dev

#       - name: Run benchmarking tests
#         run: |
#           PYTHON_JIT=1 uv run -v pytest --benchmark-only --benchmark-json output.json -v tests/

#       - name: Store benchmark result
#         uses: benchmark-action/github-action-benchmark@v1
#         with:
#           tool: 'pytest'
#           output-file-path: output.json
#           github-token: ${{ secrets.GITHUB_TOKEN }}
#           # Show alert with commit comment on detecting possible performance regression
#           alert-threshold: '160%'
#           comment-on-alert: true
#           fail-on-alert: true
#           alert-comment-cc-users: '@harshil21'
#           summary-always: true  # Job summary in github PRs
#           gh-pages-branch: gh-pages
#           auto-push: true
#           benchmark-data-dir-path: 'bench/${{ github.head_ref }}'
