name: Integration Tests

on:
  pull_request:
    branches:
      - "**" # Matches all branch names, for PRs
  push:
    branches:
      - "main" # Run tests on main branch

jobs:
  integration-tests:
    name: integration-tests
    runs-on: ${{matrix.os}}
    timeout-minutes: 5
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest]
      fail-fast: False

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Install uv
        uses: astral-sh/setup-uv@5a095e7a2014a4212f075830d4f7277575a9d098 # v7.3.1
        with:
          enable-cache: true
          version: "0.10.6"

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install the project
        run: uv sync --verbose --group dev

      - name: Run integration tests
        timeout-minutes: 3
        run: |
          uv run --env-file python-settings.env pytest -v tests/test_integration.py
