  name: Unit Tests

  on:
    pull_request:
      branches:
        - '**'  # Matches all branch names, for PRs
    push:
      branches:
        - 'main'  # Run tests on main branch

  jobs:
    pytest:
      name: pytest
      runs-on: ${{ matrix.os }}
      timeout-minutes: 5
      strategy:
        matrix:
          # TODO: Add back ubuntu-24.04-arm once the repo is public again
          os: [ubuntu-latest]
        fail-fast: False
      steps:
        - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

        - name: Install uv
          uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5
          with:
            enable-cache: true
            version: "0.9.16"
        - name: Set up Python
          uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
          with:
            python-version-file: "pyproject.toml"

        - name: Install the project
          run: uv sync --verbose --group dev

        - name: Run tests with coverage
          run: |
            # Run tests with coverage except for the integration tests
            PYTHON_JIT=1 uv run pytest --cov=airbrakes --cov-report=term --cov-report=html --ignore=tests/test_integration.py -v tests/
